<div class="container">

    <div class="row">
        <h3 class="page-header">My List of Places</h3>
    </div>
    <!--Return button, save button-->

    <div class="row">
        <p class="input-group pull-right">
            <input type="text" class="form-control" ng-model="saved.search" placeholder="Find in my places">
        </p>
    </div>

    <div class="row">
        <div class="list-group" ng-repeat="place in saved.userPlaces | filter:saved.search">
            <div class="list-group-item nounderline">
                <a ui-sref="details({ id: place.place_id })">
                    {{place.name}}
                </a>
                <button type="button" class="removeBtn btn btn-xs btn-primary pull-right" ng-click="saved.deletePlace(place, $index)">&times;
                </button>
        </div>

    </div>
