<div class="container">

    <div class="row">
        <p class="page-header">My List of Places</p>
    </div>
    <!--Return button, save button-->

    <div class="row">
        <p class="input-group">
            <input type="text" class="form-control" ng-model="saved.search" placeholder="Find in my places">
        </p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="media-list" ng-repeat="place in saved.userPlaces | filter:saved.search">
                <li class="media">
                    <!--<div class="media-left">
                        <a ui-sref="details({ id: place.place_id })">
                            <img class="media-object" ng-src="{{saved.placesService.getFirstPhoto(place.photos)}}">
                        </a>
                    </div>-->
                    <div class="media-body">
                        <a ui-sref="details({ id: place.place_id })">
                        <h4 class="media-heading">{{place.name}}</h4></a>
                        <a class="btn btn-danger" ng-click="saved.deletePlace(place.place_id)"><span class="pull-right">&times;</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

</div>
