<div class="container">

    <div class="row">
        <p class="lead">{{ details.place.name }}</p>
    </div>

    <!--Return button, save button-->
    <div class="row">
        <a class="btn btn-default btn-sm pull-left" ui-sref="main">Back</a>
        <a class="btn btn-success btn-sm pull-right" ng-click="details.savePlace(details.place)">Save</a>
    </div>

    <div class="row">
        <div id="placeMap" style="margin:20px 0;height:400px"></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p class="lead">Place Photos</p>
            <div class="row">
                <div ng-repeat="photo in details.place.photos">
                    <div class="col-lg-4">
                        <img class="img-thumbnail img-responsive" ng-src="{{photo.getUrl({'maxWidth': 200, 'maxHeight': 100})}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-lg-12">
            <p class="lead">Adress</p>
            <p>{{details.place.formatted_address}}</p>
        </div>
    </div>
    <div class="row" ng-show="details.place.international_phone_number">
        <div class="col-lg-12">
            <p class="lead">Phone</p>
            <p>{{details.place.international_phone_number}}</p>
        </div>
    </div>
    <div class="row" ng-show="details.place.website">
        <div class="col-lg-12">
            <p class="lead">Web cite</p>
            <a><span>{{details.place.website}}</span></a>
        </div>
    </div>
    <div class="row" ng-show="details.place.rating">
        <div class="col-lg-12">
            <p class="lead">User ratings</p>
            <uib-rating
                ng-model="details.place.rating"
                max="details.maxRating" read-only="true"
                on-hover="details.hoveringOver(value)"
                on-leave="overStar = null"
                titles="['one','two','three', 'four', 'five']"
                aria-labelledby="default-rating">
            </uib-rating>
            <p>Rating is {{details.place.rating}}</p>
        </div>
    </div>
    <hr>

    <div class="clearfix"></div>
    <div class="row">
        <p class="lead">Comments</p>
    </div>

    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>

</div>
